body{

}

textarea {
    padding: 10px;
    width: 300px;
}

div.form-group{
    padding: 20px;
}

input.voornaam {
    margin-left: 13px;
}

form div input {
    margin-left: 10px;
}

section.firstsection {
    width: 50%;
    height: 80%;
    float: left;
}

section.secondsection {
    width: 25%;
    float: left;
    height: 441px;
}

input#knop {
  margin-top: 520px;
    float: right;
}

input#hoi {
    margin-top: 520px;
    float: right;
}